@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ========================================================================== */
/* ====================== Reset de margenes y paddings ====================== */
/* ========================================================================== */

*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
/* ========================================================================== */
/* ============================ Estilos del Home ============================ */
/* ========================================================================== */

.grid_parent-index{
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidemenu content"
    "footer footer";
  grid-template-columns: 20% 80%;
  grid-template-rows: 97% 3%;
}

.sidemenu{
  grid-area: sidemenu;
  background-color: rgba(4, 11, 20, 0.9);
  /* font-family: Arial, Helvetica, sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: center
}

.sidemenu_logo{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidemenu ul{
  height: 100%;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sidemenu li{
  list-style: none;
}

.sidemenu a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.content-index{
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-index video{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.content-index_frase, .content-index_slogan{
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.content-index_content_mobile{
  display: none
}

.content-index_menu_button{
  display: none;
}


/* ========================================================================== */
/* ======================= Estilos pagina Servicios ========================= */
/* ========================================================================== */

.content-servicios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicios_imagen{
  height: 15rem;
}

.servicios_inicio_titulo{
  margin-bottom: 15px;
}

.servicios-l, .servicios-r{
  display: flex;
  align-items: center;
}

.servicios-l{
  background-color: rgba(23, 59, 108, 0.95);
}

.servicios-r{
  background-color: rgba(20, 157, 221, 0.95);
}

.servicios_detalle{
  align-self: start;
  display: flex;
  flex-direction: column;
}

.servicios-l .servicios_titulo{
  position: relative;
  height: 1.7rem;
  color: #149ddd;
  margin-bottom: 10px;
}

.servicios-l .servicios_titulo::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.servicios-r .servicios_titulo{
  position: relative;
  height: 1.7rem;
  align-self: end;
  color: #173b6c;
  margin-bottom: 10px;
}

.servicios-r .servicios_titulo::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #173b6c;
    bottom: 0;
    right: 0;
}

.servicios_detalle p{
  margin-left: 4%;
}



/* ========================================================================== */
/* ======================= Estilos pagina Productos ========================= */
/* ========================================================================== */

.content-productos{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productos_inicio_titulo{
  margin-bottom: 15px;
}

.productos{
  width: 40%;
  position: relative;
  margin-bottom: 5%;
  transition: transform 0.5s;
}

.productos:hover{
  transform: scale(1.05);
}

.productos:hover .productos_detalle, .productos:hover .productos_titulo{
  display: block;
}

.productos_imagen{
  width: 100%;
  height: 100%;
}

.productos_titulo{
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.productos_detalle{
  display: none;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 10;
  width: 80%
}


/* ========================================================================== */
/* ===================== Estilos pagina Quienes Somos ======================= */
/* ========================================================================== */

          /* ===================== INICIO ======================= */
.quienes_somos_inicio_titulo{
  margin: 10px 0;
}

        /* ===================== CARROUSEL ======================= */
.quienes_somos-carrousel{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-top: 20px;
  background-color: rgba(4, 11, 20, 0.87);
}

.quienes_somos-carrousel img{
  width: 33%;
  margin-left: 10px;
  filter: grayscale(100%);
  transition: filter .2s;
}

.quienes_somos-carrousel img:hover{
  filter: grayscale(0%);
}

      /* ===================== CASOS EXITO ======================= */
.quienes_somos-casos_exito{
  background-color: rgba(4, 11, 20, 0.87);
  margin-top: 20px;
}

.quienes_somos-casos_exito_inicio_titulo{
  position: relative;
  margin: 5px 0;
}

.quienes_somos-casos_exito-proyectos{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* overflow-x: scroll; */
  padding: 15px 0;
}

.quienes_somos-casos_exito-proyecto{
  width: 40%;
  position: relative;
  margin: 0 1%;
  transition: transform 2s;
}

.quienes_somos-casos_exito-proyecto:hover{
  transform: scale(1.05);
}

.quienes_somos-casos_exito-proyecto_titulo{
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.quienes_somos-casos_exito-proyecto_detalle{
  display: none;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 10%;
}

.quienes_somos-casos_exito-proyecto:hover .quienes_somos-casos_exito-proyecto_titulo, .quienes_somos-casos_exito-proyecto:hover .quienes_somos-casos_exito-proyecto_detalle{
  display: block;
}

.quienes_somos-casos_exito-proyecto_imagen{
  width: 100%;
  height: 100%;
}

          /* ===================== CLIENTES ======================= */
.quienes_somos-clientes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: rgba(4, 11, 20, 0.87);
}

.quienes_somos-clientes_titulo{
  flex: 100%;
  display: flex;
  justify-content: center;
}

.quienes_somos-clientes_titulo span{
  position: relative;
  height: 1.7rem;
}

.quienes_somos-cliente{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 10px 0;
}

.quienes_somos-cliente_imagen{
  width: 40%;
  height: auto;
  border-radius: 50%;
}

.quienes_somos-cliente_nombre{
  margin-top: 5px;
  color: black;
}

        /* ===================== HABILIDADES ======================= */
.quienes_somos-habilidades{
  margin-top: 20px;
  background-color: rgba(4, 11, 20, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quienes_somos-habilidades_titulo{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.quienes_somos-habilidades_titulo span{
  position: relative;
  height: 1.7rem;
}

.quienes_somos-habilidades_list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.quienes_somos-habilidad{
  width: 40%;
  display: flex;
  padding: 10px 0;
}

.quienes_somos-habilidad_nombre{
  width: 50%;
}

.quienes_somos-habilidad_porcentaje{
  width: 50%;
}

.quienes_somos-habilidad_porcentaje_bar{
  width: 80%;
  height: 3px;
  background-color: #149ddd;
}

        /* ===================== INTEGRANTES ======================= */
.quienes_somos-integrantes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 11, 20, 0.87);
  margin-top: 20px;
}

.quienes_somos-integrantes_titulo{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.quienes_somos-integrantes_titulo span{
  position: relative;
  height: 1.7rem;
}

.quienes_somos-integrantes_list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quienes_somos-integrante{
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 157, 221, 0.8);
  margin: 10px 0;
}

.quienes_somos-integrante_titulo{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-left: 2%;
}

.quienes_somos-integrante_nombre{
  color: #173b6c;
  font-size: 1.25rem;
  height: 1.7rem;
  font-weight: 500;
  text-decoration: underline;
}

.quienes_somos-integrante_info{
  width: 95%;
  align-self: end;
}

/* ========================================================================== */
/* ======================== Estilos pagina Contacto ========================= */
/* ========================================================================== */

.content-flex_contacto{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150%;
  width: 50%;
  background-color: rgb(23, 59, 108);
}

.contacto-dato{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.contacto-dato_titulo{
  position: relative;
  font-size: 1.5rem;
  height: 2rem;
  color: #149ddd;
  margin-bottom: 10px;
}

.contacto-dato_titulo::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.contacto-formulario{
  align-self: center;
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 40px;
  background-color: rgba(20, 157, 221, 1);
}

.contacto-formulario_form{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20%;
}

.contacto-formulario_form_mail_tel{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacto-formulario_form_mail_tel input{
  width: 40% !important;
  height: 100% !important;
}

.contacto-formulario_form textarea, .contacto-formulario_form input, .contacto-formulario_form select{
  width: 100%;
}

.contacto-formulario_form input, .contacto-formulario_form select{
  height: 10%;
}

.contacto-formulario_form_button{
  width: 40% !important;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: rgb(23, 59, 108);
}


/* ========================================================================== */
/* =========================== Estilos Generales ============================ */
/* ========================================================================== */

.titulo{
  position: relative;
  font-size: 1.5rem;
  height: 2rem;
  color: #173b6c;
}

.titulo::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.subtitulo{
  font-size: 1.25rem;
  height: 1.7rem;
  color: #149ddd;
}

.subtitulo::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #173b6c;
    bottom: 0;
    left: 0;
}

.grid_parent-other{
  height: 100vh;
  display: grid;
  grid-template-areas:
    "topmenu"
    "content"
    "footer";
  grid-template-rows: 8% auto 3%;
}

.content{
  grid-area: content;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.topmenu{
  grid-area: topmenu;
  display: flex;
  align-items: center;
  background-color: rgba(4, 11, 20, 0.9);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.topmenu h4{
  font-size: 30px;
  color: white;
  display: inline;
}

.topmenu ul{
  display: inline;
}

.topmenu li{
  display: inline;
  margin-left: 20px;
}

.topmenu a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.topmenu a i{
  margin-right: 5px;
}

.topmenu_logo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: rgb(4, 11, 20);
  color: white;
  padding: 2px;
}

.footer_redes{
  margin-left: 10px;
  cursor: pointer;
}


/* ========================================================================== */
/* =================== @MEDIA QUERIES (max-width: 768px) ==================== */
/* ========================================================================== */

@media all and (max-width: 768px) {
  /* ================================ INDEX ================================= */
  .grid_parent-index{
    grid-template-areas:
      "content content"
      "footer footer";
  }

  .sidemenu{
    display: none;
  }

  .content-index_frase{
    display: none;
  }

  .content-index_content_mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidemenu_logo_mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10%;
  }

  .sidemenu_logo_mobile img{
    width: 40%;
  }

  .content-index_menu_button{
    position: fixed;
    top: 1%;
    right: 1%;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content-index_menu_element{
    width: 100%;
    height: 25%;
    border-radius: 10px;
    background-color: rgb(4, 11, 20);
  }

  /* ============================== SERVICIOS =============================== */
  .servicios_imagen{
    width: 30%;
    height: 30%;
  }

  /* ============================ QUIENES SOMOS ============================= */
  .quienes_somos-cliente{
    width: 33%;
  }

  /* =============================== CONTACTO =============================== */
  .content-flex_contacto{
    width: 100%;
    height: 100%;
  }
  .contacto-formulario{
    height: 90%;
    width: 60%;
    flex-direction: column;
    justify-content: end;
    z-index: -10;
  }

  .contacto-info{
    height: 120%;
    width: 90%;
  }

  .contacto-dato_titulo{
    font-size: 1rem;
    height: 1.25rem;
  }

  .contacto-formulario_form{
    width: 90%;
    margin-left: 0;
    margin-top: 5%;
  }

  .contacto-formulario_form input, .contacto-formulario_form select{
    height: 20%;
    margin-bottom: 10px;
  }

  .contacto-formulario_form_mail_tel{
    height: 20%;
    margin-bottom: 10px;
  }

  .contacto-formulario_form_mail_tel input{
    height: 100%;
    margin-bottom: 0;
  }

  .contacto-formulario_form textarea{
    height: 100%;
  }

  .contacto-formulario_form_button{
    margin-bottom: 0;
    margin-top: 10px;
  }

  /* ============================== GENERALES =============================== */
  body{
    font-size: 80%;
  }

  .titulo{
    height: 1.7rem;
    font-size: 1.25rem;
  }

  .subtitulo{
    height: 1.5rem;
    font-size: 1rem;
  }
}
