@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* ========================================================================== */
/* ====================== Reset de margenes y paddings ====================== */
/* ========================================================================== */

*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Oswald', sans-serif;
  font-size: 1.1rem; */
}

/* ========================================================================== */
/* ============================ Estilos del Home ============================ */
/* ========================================================================== */

.index_body{
  height: 100vh;
}

.first_row_index{
  height: 96%;
}

.sidemenu{
  background-color: rgba(4, 11, 20, 0.9);
}

.sidemenu a{
  font-size: 20px;
}

.background_video{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.content-index_frase, .content-index_slogan{
  font-size: 30px;
}


/* ========================================================================== */
/* ======================= Estilos pagina Servicios ========================= */
/* ========================================================================== */

.servicios_imagen{
  height: 15rem;
}

.servicios-l{
  background-color: rgba(23, 59, 108, 0.95);
}

.servicios-r{
  background-color: rgba(20, 157, 221, 0.95);
}

.servicios-l .servicios_titulo{
  height: 1.7rem;
  color: #149ddd;
}

.servicios-r .servicios_titulo{
  height: 1.7rem;
  color: #173b6c;
}

.servicios-l .servicios_titulo::after, .servicios-r .servicios_titulo::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.servicios-r .servicios_titulo::after{
    background: #173b6c;
}



/* ========================================================================== */
/* ======================= Estilos pagina Productos ========================= */
/* ========================================================================== */

.productos_list .card{
  height: fit-content;
  transition: transform 0.5s;
}

.producto:hover{
  transform: scale(1.05);
}

.producto:hover .producto_detalle, .producto:hover .producto_titulo{
  display: unset !important;
}


/* ========================================================================== */
/* ===================== Estilos pagina Quienes Somos ======================= */
/* ========================================================================== */
      /* ====================== CARROUSEL ======================== */

.imagen_carousel{
  filter: grayscale(100%);
  transition: filter 1s;
}

.imagen_carousel:hover{
  filter: grayscale(0%);
}

      /* ===================== CASOS EXITO ======================= */

.proyecto{
  transition: transform 2s;
  /* transition: display 2s; */
}

.proyecto:hover{
  transform: scale(1.05);
}

.proyecto:hover .proyecto_titulo, .proyecto:hover .proyecto_detalle{
  display: unset !important;
}

          /* ===================== CLIENTES ======================= */

.cliente_imagen{
  border-radius: 50%;
}

        /* ===================== INTEGRANTES ======================= */

.quienes_somos-integrante{
  background-color: rgba(20, 157, 221, 0.8);
}

.integrante_nombre{
  color: #173b6c;
  font-size: 1.25rem;
  height: 1.7rem;
  font-weight: 500;
  text-decoration: underline;
}

/* ========================================================================== */
/* ======================== Estilos pagina Contacto ========================= */
/* ========================================================================== */

.contacto_content{
  height: 85vh;
}

.contacto-info{
  height: 80vh;
  left: 7%;
  background-color: rgb(23, 59, 108);
}

.contacto-dato_titulo{
  font-size: 1.5rem;
  height: 2rem;
  color: #149ddd;
}

.contacto-dato_titulo::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.contacto-formulario{
  background-color: rgba(20, 157, 221, 1);
}

.contacto-formulario_form_button{
  background-color: rgb(23, 59, 108);
}


/* ========================================================================== */
/* =========================== Estilos Generales ============================ */
/* ========================================================================== */

.titulo{
  position: relative;
  font-size: 1.5rem;
  height: 2rem;
  color: #173b6c;
}

.titulo::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.subtitulo{
  font-size: 1.25rem;
  height: 1.75rem;
  color: #149ddd;
}

.subtitulo::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #173b6c;
    bottom: 0;
    left: 0;
}

.footer{
  background-color: rgb(4, 11, 20);
  padding: 2px;
}

.footer_redes{
  cursor: pointer;
}


/* ========================================================================== */
/* =================== @MEDIA QUERIES (max-width: 768px) ==================== */
/* ========================================================================== */

@media all and (max-width: 768px) {

  /* =============================== CONTACTO =============================== */

  .contacto-formulario{
    height: 50%;
    margin: 30px 0;
  }

  .contacto-info{
    position: static !important;
    height: auto;
    bottom: 50%;
  }

  .contacto-dato_titulo{
    font-size: 1rem;
    height: 1.25rem;
  }

  /* ============================== GENERALES =============================== */
  body{
    font-size: 80%;
  }

  .titulo{
    height: 1.7rem;
    font-size: 1.25rem;
  }

  .subtitulo{
    height: 1.5rem;
    font-size: 1rem;
  }
}
