node_modules/

img/videos/background_index.mp4
img/videos/forest.mp4
img/videos/meeting_1.mp4
img/videos/meeting_2.mp4
img/videos/meeting_3.mp4
img/videos/mountain.mp4
img/videos/snowy_forest.mp4
img/videos/tech_background.mp4

img/mobile/

img/gif/
